html {
    background-color:black;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(https://images.unsplash.com/photo-1590767187868-b8e9ece0974b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max);
    background-repeat: no-repeat;
}

#indexbuttons {
    width: 330px;
    margin-top: 25%;
    margin-left: 45%;
    padding: 0px;
}

.index {
    font-size: 40px;
    background-color: orange;
    border-radius: 5px;
    box-shadow: 2px 2px yellow;
    margin: 10px;
}

.index :hover {
    background-color: yellow;
}

#login {
    position: relative;
    top: 30%;
    background-color: white;
    opacity: 85%;
    padding: 10px;
}

#create_account_div {
    position: relative;
    top: 30%;
    background-color: white;
    opacity: 85%;
    padding: 10px;
}

input {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    opacity: 100%;
}

.alert_alert_warning {
    text-color: "white";
}
