{% extends 'layout.html' %}

{% block head %}

{% endblock head %}

{% block body %}
    <div id="create_account_div">
        <center>
            <h1>Register</h1>
            <form method="post">
                <input type="text" placeholder="Enter Full Name" name="fullname">
                <br>
                <input type="text" placeholder="Enter username" name="username">
                <br>
                <input type="password" placeholder="Enter your password" name="password">
                <br>
                <input type="submit" name="registering" value="Submit">
            </form>
        </center>
    </div>
{% endblock body %}
