{% extends 'layout.html' %}

{% block head %}
  <title>Login</title>
{% endblock head %}

{% block body %}

  <div id="login">
    <center><h1>Login</h1></center>
    <form method="post">
      <div id="mini">
        <center>
          <input type="text" placeholder="Enter username" name="username">
          <br>
          <input type="password" placeholder="Enter your password" name="password">
          <br>
          <input type="submit" name="logging_in" value="Submit">
        </center>

      </div>
    </form>

    {% block content %}
      {% if check %}
        <a href="/dashboard">
          <p>Proceed</p>
        </a>
      {% endif %}
    {% endblock content %}

  </div>
{% endblock body %}
